@media only screen and (max-device-width: 1200px) {
  .navigation {
    padding: 1.2rem 6rem;
  }
  .main-center h1 {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1.2rem;
  }
  .main-center span {
    font-size: 2.8rem;
    line-height: 2.8rem;
    padding-bottom: 1.4rem;
    font-weight: 800;
  }
  .main-center p {
    line-height: 1.8rem;
    padding-bottom: 5rem;
  }
  .form-container {
    margin-top: -10rem;
    padding: 2rem 4rem 0 4rem;
  }
  .label {
    padding: 0;
  }
  .part-2 {
    padding: 0 5rem;
  }
  .title h2,
  .title2 h2 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .text-part .title {
    padding-bottom: 1rem;
  }
  .text-part {
    padding-top: 3rem;
  }
  .small-text {
    font-size: 1rem;
    line-height: 1.9rem;
    padding-bottom: 2rem;
  }
  .btn {
    max-width: 12rem;
  }
  .about-part {
    padding: 1.2rem;
  }
  .section4 {
    padding: 4rem 12rem;
  }

  .tes-textbox {
    padding: 0 10% 2rem 10%;
  }
  .contact-container {
    padding: 0 10%;
  }
}

@media only screen and (max-device-width: 1024px) {
  .navigation {
    padding: 1rem 3rem;
  }
  .nav-btn {
    padding: 0.5rem;
  }
  .signin {
    margin-left: 1rem;
  }
  .main-center span {
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding-bottom: 1rem;
    font-weight: 700;
  }
  .form-container {
    margin-top: -10rem;
    padding: 2rem 4rem 0 4rem;
  }
  .form-items {
    max-width: 40%;
  }
  .title h2,
  .title2 h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  
  }
  .flex-container{
      gap:5rem;
  }
  .image-part figure img{
    width:120%;
  }
  .section3{
      margin-top: 4rem;
  }
  .section4 {
    padding: 3rem 8rem;
    margin-top: 5rem;
  }
  .tes-textbox {
    padding: 0 5% 1.4rem 5%;
  }
  .contact-container {
    padding: 0 5%;
  }
}
@media only screen and (max-device-width: 768px){
    .flex-container{
        padding:5rem;
    }
    .form-container{
        padding:1rem 2rem 0 2rem;
    }
    .form-items{
        padding-left: 0.8rem;
        max-width:28%;
    }
    .label{
        font-size: 1rem;
    }
}
@media only screen and (max-device-width: 768px){
    .navigation {
        padding: 2rem 4rem;
      }
      .main-center h1 {
        font-size: 3rem;
        line-height: 3rem;
        padding-bottom: 1.2rem;
      }
      .main-center span {
        font-size: 2.8rem;
        line-height: 2.8rem;
        padding-bottom: 1.4rem;
        font-weight: 800;
      }
      .main-center p {
        line-height: 1.8rem;
        padding-bottom: 5rem;
      }
      .form-inputs {
        flex-direction: column;
        gap:1rem;   
      }
      .form-container {
        margin-top: -20rem;
        padding: 2rem 4rem 0 4rem;
      }
      .form-items {
        
        max-width:100%;
       
      }
      .flex-container{
          flex-direction: column;
      }
      .section4{
          flex-direction: column;
      }
      .tes-textbox{
          flex-direction: column;
          padding:0 5rem 2rem 5rem;
      }
      .contact-container{
        flex-direction: column;
        margin: 0 auto;
        gap:16rem;
        padding:0 5rem 10rem 5rem;
      }
}