* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
}
body {
 
  margin: 0 auto;
}
.navigation {
  padding: 1.6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main{
  width:100%;
}
.nav-btn {
  padding: 0 1.6rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}
.nav-btn:hover {
  color: #343a40;
}
.signin{
  text-transform: uppercase;
  background-color: #fff;
  display: inline-block;
  padding: 0.6rem 2rem;
  border-radius: 25px;
  color: #292e39;
  font-size: 1.2rem;
  border: none;
  margin-left: 3rem;
}
.btn-hover:hover {
  background-color: #ffc107;
  color: #f8f9fa;
  transition: all 0.3s ease-in-out;
}
.main-center {
  padding: 0 14rem 16rem 14rem;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-center h1 {
  color: #fff;
  font-size: 3.6rem;
  line-height: 4rem;
  padding-bottom: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.main-center span {
  color: #fff;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  display: block;
}
.main-center p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-bottom: 6rem;
}
.btn {
  font-size: 1.2rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  max-width: 14rem;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 10px;
}

.btn-hover2:hover {
  transition: ease-in all 0.5s;
  border-radius: 30px;
  color: #f8f9fa;
  background-color: #ffc107;
}
.part-2 {
  margin: 0 auto;
  padding: 0 10rem;
}
.form-container {
  background-color: white;
  width: 100%;
  padding: 2rem 6rem 0 6rem;
  border-radius: 40px 40px 0px 0px;
  margin-top: -10rem!important;
}

.form-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #7e7e7e;
  padding: 1.2rem;
}
.input {
  border: inherit;
  border-radius: 20px;
  background-color: #eeeeee;
  width: 100%;
  font-size: 1rem;
  height: auto;
  line-height: normal;
  padding: 0.6rem 1rem;

  -webkit-appearance: none !important;
}
.book-now {
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  padding: 0.6rem 1rem;
  width: 100%;
  max-width: 10rem;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  margin-top: 3rem;
}
.form-items {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 2rem;
}
.container2 {
  margin-top: 6rem;
}
.flex-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.image-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.image-part figure img{
  width:100%;
}
.images-2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
.text-part {
  padding-top: 6.4rem;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
}
.text-part .title {
  text-align: left;
  padding-bottom: 2.4rem;
}
.title h2 {
  font-size: 3.6rem;
  color: #313131;
  line-height: 4.2rem;
  font-weight: bolder;
  padding: 0;
}
.small-text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #313131;
  padding: 0 0px 3.2rem 0px;
  font-weight: 500;
}
.title .normal_txt {
  font-weight: normal;
}
.text {
  display: flex;
}
.see {
  background-color: #000;
  color: #fff;
}
.section3 {
  margin-top: 6rem;
}
.text {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3r em;
}
.align-right {
  align-items: flex-end;
}
.section4 {
  background: #353e4e;
  margin-top: 8rem;
  padding: 8rem 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
  width: 100%;
}
.about-part {
  display: flex;
  color: #f8f9fa;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem;
  flex:0 0 50%;
}
.title2 h2 {
  color: #f8f9fa;
  font-size: 3.6rem;
}
.color-white {
  color: #f8f9fa;
}
.image figure img{
  width:100%;
}
.image {
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
.testimonial {
  background-image: url("images/tes_bg.jpg");
  margin-top: 5rem;
}
.center-text {
  text-align: center;
  padding-bottom: 4rem;
}
.tes-textbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding:0 14% 2rem 14%;
  gap: 2rem;
}
.tes-data {
  padding: 1.4rem 3rem;
  background-color: #d7530a;
}
.tes-data p {
  font-size: 1rem;
  line-height: 1.8rem;
  color: #fff;
  text-align: left;
  padding-top: 1.6rem;
}
.tes-data h2 {
  color: #f8f9fa;
  font-weight: bold;
  font-size: 1rem;
}
.tes-heading {
  display: flex;
  justify-content: space-between;
}

.tes-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding-bottom: 16rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #262e31;
  border: none;
  border-radius: 50%;
}
.orange {
  background-color: #d7530a;
}
.contect-us {
  background-color: #242423;
  width:100%;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:0 14%;
}
.heading-second {
  font-size: 2.4rem;
  color: #f8f9fa;
  font-weight: bold;
  padding: 1.8rem 0;
}
.con-text {
  display: flex;
  flex: 0 0 50%;
  padding: 3.2rem;
}
.con-form {
  padding: 0 1.2rem;
  width: 50%;
  margin-top: -16rem;
}
.contect-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 2rem;
  border-radius: 25px;
  background-color: #d7530a;
}
.con-input {
  border: inherit;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 4rem;
  background: #fff;
  color: #292e39;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 15px;
}
.con-btn {
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin: 0 auto;
  max-width: 14rem;
  width: 100%;
  display: block;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.footer {
  text-align: center;
  padding: 1rem 0 4rem 0;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.8;
  color: #666;
}
.footer a {
  text-decoration: none;
  color: #666;
}
